{% extends 'base.html' %}

{% block meta %}

<title>Edit Product</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
            text-align: center;
        }
        body {
            font-family: "Poppins", sans-serif;
            text-align: center;
            background-image: url('https://images.unsplash.com/photo-1513672494107-cd9d848a383e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');
            background-size: auto;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        h2 {
            margin-bottom: 10px;
        }
        .edit-product {
            display: inline-block;
            width: auto;
            height: auto;
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        table {
            margin-bottom: 3px;
            text-align: left;
        }
        input[type="text"],
        input[type="number"], textarea {
            width: 80%; 
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            text-align: left;
        }
        input[type="submit"] {
            background-color: #0070e8;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;
            position: relative;
            margin-top: 10px;
            transform: translateX(-30%);
        }
        input[type="submit"]:hover {
            background-color: #024995;
        }
        ul {
            text-align: left;
        }
        td {
            border-radius: 8px;
        }
        th {
            text-align: left;
        }
    </style>

{% endblock meta %}


{% block content %}

<div class="edit-product">
    <h2>Edit Product</h2>
    
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Edit Product"/>
                </td>
            </tr>
        </table>
    </form>

</div>

{% endblock content %}