{% extends 'base.html' %}

{% block meta %}
<script src="https://kit.fontawesome.com/54f81dee97.js" crossorigin="anonymous"></script>

    <title>Home - Inventory App</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
            text-align: center;
        }
        body {
            background-color: blanchedalmond;
        }
        nav a {
            color: black;
            text-align: center;
            text-decoration: none;
        }
        nav .logo {
            float: left;
        }
        .logout-btn {
            float: right;
            padding: 14px 16px;
            background-color: rgb(232, 232, 232);
            color: white;
            border: none;
            cursor: pointer;
        }
        .logout-btn:hover {
            background-color: rgb(198, 197, 197);
        }
        #product_cards {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 80%;
            text-align: center;
        }
        th {
            background-color: #0070e8;
            color: white;
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
        td {
            padding: 10px;
            font-size: 14px;
            text-align: center;
        }
        tr {
            border: 1px;
            text-align: center;
            border-bottom: 1px gre;
            font-size: 14px;
            background-color: white;
            margin: 10px;
        }
        tr:last-child {
            background-color: rgb(198, 197, 197);
        } 
        .mb-3 {
            text-align: center;
        }
        a {
            text-decoration: none;
        }

    </style>

{% endblock meta %}

{% block content %}

<nav class="navbar" style="background-color: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand">
            <i class="fa-solid fa-box" style="color: rgb(210, 132, 210);" width="60px"></i>
            <span><b> &nbsp; Inventory App</b></span>
        </a>
        <a> Selamat datang, <u><b>{{ name }}</b></u>! </a>

        <a href="{% url 'main:logout' %}"><button type="button" class="btn btn-light">Logout</button></a>
    </div>
</nav>

</br>

<p class="mt-0 mb-0"> Anda telah memiliki {{ count_products }} barang di dalam aplikasi ini. </p>
<p class="mt-0 mb-1"> Jangan lupa untuk terus meng-<i>update</i> barang yang Anda miliki ke aplikasi ini untuk hasil yang optimal!</p>

  <body style="background-color: blanchedalmond">

    <div id="product_cards" class="row row-cols-1 row-cols-md-3 g-4 text-center"></div>
    
    <!-- Ini untuk AJAX -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" >
                    <h1 class="modal-title fs-5" id="addProductLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;" >
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary mt-2" style="background-color: rgb(210, 132, 210); border: none" data-bs-toggle="modal" data-bs-target="#addProductModal">Add Product by AJAX</button>

    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }

        async function refreshProducts() {
        const productCardsContainer = document.getElementById("product_cards");

        const products = await getProducts();
        products.forEach((item, index) => {
            const card = document.createElement("div");
            card.classList.add("product_cards");
            const cardContent = `
                <div class="card h-100">
                    <div class="card-header">
                        Product -  ${index + 1}
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">${item.fields.name}</h3>
                        <p class="card-text">${item.fields.amount} buah</p>
                        <p class="card-text"><i>${item.fields.description}</i></p>
                    </div>
                    <div class="card-actions">
                        <span>
                        <a href='edit-product/${item.pk}' class="btn btn-light">
                            <i class="fa-regular fa-pen-to-square"></i> Edit
                        </a>
                        <a href='delete-product/${item.pk}' class="btn btn-light">
                            <i class="fa-solid fa-trash"></i> Delete
                        </a>
                    </div>
                    <p></p>
                    <div class="card-footer text-muted">
                        <b>Added at: ${item.fields.date_added}</b>
                    </div>
                </div>
            `;
            card.innerHTML = cardContent;
            productCardsContainer.appendChild(card);
        });
    }
    refreshProducts();

        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)

            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addProduct


    </script>

    <p class="mt-4"><b>Sesi terakhir login: {{ last_login }}</b></p>

{% endblock content %}